@model AcmeIncWeb.Models.Product

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/buttons.css" />
}




<center>
    <div>
        <h4>Product</h4>
        <hr />

        @{
            if (TempData["NotLogged"] != null)
            {

                <div class="alert alert-warning" role="alert">
                    Please log in to add an item to your cart.
                </div>

            }
        }

        <div style="float:left; margin-top:5%;">

            <dl class=form-horizontal style=" margin-top:12%;">

                <dd class="col-sm-10">
                    <h3> @Html.DisplayFor(model => model.Name)</h3>
                </dd>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dd class="col-sm-10">
                    R @Html.DisplayFor(model => model.Sell)
                </dd>

                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cat.Type)
                </dd>
            </dl>

        </div>

        <dl class=form-horizontal>
            <dd class="col-sm-10">
                <img src=" @Html.DisplayFor(model => model.ImageUrl)" style="width:auto; height:400px; max-width:470px" />
            </dd>
        </dl>

        <br>
        <div>
            <a class="gradient-button gradient-button-3" style="width:150px" asp-action="AddToCart" asp-route-id="@Model.ProdId">Add to cart</a>
            <br>
            <br>
            <a asp-action="Index" asp-controller="Product">Back to products</a>
        </div>

    </div>

</center>